hydra-core==1.0.0
tensorboardX==2.0
scipy==1.5.4
scikit-learn==0.23.1
plyfile==0.4
pandas==1.0.5
trimesh==3.7.5
imageio==2.8.0
hydra-colorlog==1.0.0
hydra-submitit-launcher==1.1.0
matplotlib==3.2.2
opencv-python==4.5.1.48
